<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
        <section id="main"><%- body %></section>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
  <script type="text/javascript"> 
  window._pt_lt = new Date().getTime();<br>window._pt_sp_2 = []; 
  _pt_sp_2.push('setAccount,1c87c404'); 
  var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); 
  (function() {var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true; 
  atag.src = _protocol + 'js.ptengine.com/pta.js'; 
  var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true; 
  stag.src = _protocol + 'js.ptengine.com/pts.js'; 
  var s = document.getElementsByTagName('script')[0];  
  s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);})(); 
  </script>
</body>
</html>
